@import '../../../../style.scss';

.circle {
  padding: 10px;
  width: fit-content;
  border-radius: 50%;
  background-color: #00002d;
  svg {
    @include mx-size(0, 80px, 80px);
    fill: $first-point-color;
  }
}

.howUse {
  @include mx-flexbox();
  flex-direction: column;
  color: $purewhite;
  @include mx-size(0, 450px, 450px);
  background-color: $sub-background;
  padding: 20px;
  word-break: keep-all;
  box-sizing: border-box;
  border-radius: 15px;
  p {
    color: $modern-gray;
    margin: 5px;
    text-align: center;
    line-height: 1.5rem;
  }
  &__circle {
    padding: 10px;
    width: fit-content;
    border-radius: 50%;
    background-color: $base-background;
    svg {
      @include mx-size(0, 80px, 80px);
      fill: $first-point-color;
    }
  }
}
