@import '../../../style.scss';

.property-edit {
  padding: 20px 15px;
  &__page {
    margin: 0;
    padding: 0;
  }
  hr {
    margin: 20px 0;
  }
  li {
    list-style: none;
    margin: 0 0 15px;
  }
  &__pageSet {
    &__box {
      @include mx-flexbox(start);
      padding: 5px 5px;
      margin: 5px 0 5px 10px;
      input {
        width: 80px;
        text-align: center;
        background: none;
        border: 0;
        border-bottom: 1px solid $purewhite;
        margin: 0 0 0 10px;
        color: $purewhite;
        &:focus {
          outline: none;
        }
      }
      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      button {
        @include mx-size(0, 15px, 15px);
        border: none;
        margin-left: 10px;
      }
    }
  }
  &__picker {
    @include mx-flexbox(center, start);
  }
  &__line {
    margin: 20px 0 0;
    padding: 0 0 0 10px;
    li {
      @include mx-flexbox(start);
    }
  }
  input[type='radio'] {
    margin: 0 0 0 5px;
  }
}

.edit-flex {
  display: flex;
}
