@import '../../style.scss';

.alarm {
  @include position-top-right(fixed, 0, -50px);
  @include mx-flexbox();
  text-align: center;
  @include mx-size(0, 100px, 50px);
  background-color: $first-point-color;
  z-index: 99;
  animation: show 1s linear;
}

@keyframes show {
  0% {
    bottom: -50px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -50px;
  }
}

.alarmCenter {
  @include position-center();
  @include mx-flexbox();
  @include mx-size(0, 500px, 200px);
  flex-direction: column;
  background-color: $sub-background;
  border: 5px solid $first-point-color;
  border-radius: 25px;
  color: $purewhite;
  font-weight: bold;
  z-index: 99;

  &__buttonBox {
    margin: 20px 0;
    * {
      @include mx-size(0, 50px, 30px);
      margin: 0 10px;
      background-color: $purewhite;
      border: none;
      border-radius: 10px;
      &:hover {
        background-color: $first-point-color;
      }
    }
  }
}
