@import '../../style.scss';

.alarm {
  position: fixed;
  bottom: -50px;
  right: 0;
  @include mx-flexbox();
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #f1a708;
  z-index: 99;
  animation: show 1s linear;
}

@keyframes show {
  0% {
    bottom: -50px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -50px;
  }
}

.alarmCenter {
  @include mx-flexbox();
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  &__buttonBox {
    margin: 20px 0;
    * {
      width: 50px;
      height: 30px;
      margin: 0 10px;
      background-color: #f1a708;
      border: none;
    }
  }
}
