@import '../../style.scss';

.section {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  @extend %WidthHeight;
  background-color: $transparent-80;

  &_part {
    @extend %WidthHeight;
  }

  &_dragSection {
    position: relative;
    cursor: move;
    cursor: grab;
    z-index: 0;
    &:active {
      cursor: grabbing;
    }
  }

  &_over {
    width: 200px;
    height: 200px;
    background-color: $pureblack;
  }

  &_dragSection {
    display: block;
    width: inherit;
    height: inherit;
  }

  /*   &_setting {
    @include mx-flexbox();
    flex-direction: column;
  } */

  &_setButton {
    @include mx-flexbox();
    width: 100%;
    height: 100px;
    //@include mx-size(0,100%,100px);
    border: 1px solid;
    box-sizing: border-box;
  }

  canvas {
    width: 90%;
    height: 100%;
  }
}
