@import '../../style.scss';

.section {
  margin: 150px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
  &_part {
    position: relative;
    @include mx-flexbox();
    height: 700px;
    background-color: #c0c0c0;
  }
  &_over {
    width: 200px;
    height: 200px;
    background-color: black;
  }
  &_drag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: fit-content;
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
    border: 1px solid;
    p {
      margin: 0 10px 0;
    }
    button {
      width: 15px;
      height: 15px;
    }
    input[type='text'] {
      background: none;
      border: 0;
      width: 100px;
      &:focus {
        outline: none;
      }
    }
    &_line {
      position: absolute;
      top: -5px;
      left: -5px;
      display: block;
      width: 10px;
      height: 10px;
      @include mx-round(50%);
      background-color: red;
    }
  }
  &_dragSection {
    display: block;
    background-color: #f0f0f0;
  }
  &_setting {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
  }
  &_setButton {
    @include mx-flexbox();
    width: 100%;
    height: 100px;
    border: 1px solid;
    box-sizing: border-box;
  }

  canvas {
    width: 90%;
    height: 100%;
  }
}
