@import '../../../../style.scss';

.intropage-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 1s linear;
  &__container {
    @include mx-flexbox(between);
    @include mx-size(0, 1500px, 80px);
    padding: 10px 0;
    margin: 0 auto;
  }
  &__icon {
    @include mx-flexbox(start);
    color: #fff;
    img {
      @include mx-size(0, 60px, 60px);
    }
  }
  &__to {
    display: flex;
  }
  &__to-button {
    background: none;
    border: none;
    color: $purewhite;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 60px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
  }
}
