@import '../../../../style.scss';

.intropage-center {
  padding: 50px 0;
  &__container {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    background: linear-gradient(120deg, #168548, $first-point-color);
    border-radius: 25px;
    box-sizing: border-box;
    img {
      border-radius: 25px;
    }
    h2 {
      color: $purewhite;
    }
    p {
      line-height: 2rem;
      color: $purewhite;
    }
    progress {
      @include mx-size(0, 80%, 30px);
      margin: 20px 0;
    }
    button {
      margin: 0 40px 0 0;
    }
  }
}
