.intropage-center {
  padding: 50px 0;
  &__container {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    //background-color: #2fd883;
    background: linear-gradient(120deg, #168548, #2fd883);
    border-radius: 25px;
    box-sizing: border-box;
    img {
      border-radius: 25px;
    }
    h2 {
      color: #ffffff;
    }
    p {
      line-height: 2rem;
      color: #fff;
    }
    progress {
      width: 80%;
      height: 30px;
      margin: 20px 0;
    }
  }
}

.tocon {
  width: 200px;
  height: 70px;
  background-color: #191a4e;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  margin: 0 40px 0 0;
}
