@import '../../../../style.scss';

.intropage-use {
  padding: 50px 0;
  &__container {
    letter-spacing: 0.5rem;
    width: fit-content;
    color: $purewhite;
    margin: 0 auto;
    text-align: center;
    h3 {
      color: $first-point-color;
    }
    p {
      letter-spacing: normal;
      color: $modern-gray;
    }
  }
  &__fwbox {
    @include mx-flexbox(between, start);
    margin: 50px 0;
  }
  &__usage {
    display: flex;
    padding: 50px 0;
  }
  &__update {
    padding: 50px 0;
  }
}

.use2 {
  position: relative;
  padding: 50px;
  border-radius: 15px;
  border: 1px solid #2fd883;
  width: fit-content;
  img {
    @include mx-size(0, 544px, 380px);
  }
}

.use1 {
  color: $purewhite;
  margin: 0 0 0 100px;
  h3 {
    color: $first-point-color;
  }
  p {
    line-height: 1.5rem;
    color: $modern-gray;
  }
  &__visual {
    @include mx-flexbox(between, start);
    padding: 20px 0;
    button {
      @include mx-size(0, 200px, 70px);
      border: 1px solid $purewhite;
      background-color: $sub-background;
      color: $purewhite;
      font-size: 1.1rem;
      &:hover {
        filter: brightness(140%);
      }
    }
  }
}
