@import '../../../../style.scss';

.intropage-front {
  position: relative;
  display: flex;
  height: 700px;
  overflow: hidden;
  &__intro {
    flex-direction: column;
    @include mx-flexbox(center, start);
    width: 50%;
    color: #fff;
    z-index: 10;
    h1 {
      font-size: 2.5rem;
      margin: 10px 0;
      letter-spacing: 0.5rem;
    }
    p {
      color: $first-point-color;
      font-size: 1.5rem;
      margin: 10px 0;
      letter-spacing: 0.5rem;
      width: max-content;
    }
    div {
      button {
        margin: 20px 50px 0 0;
      }
    }
  }
  &__img {
    @include position-top-right(absolute, 0, -5%);
    overflow: hidden;
    opacity: 0.7;
    /* img {
        width: 1000px;
        height: 600px;
      } */
  }
}
