@import '../../../../style.scss';

.intropage-update {
  @include mx-flexbox(start);
  flex-direction: column;
  padding: 50px 0;
  h3 {
    margin: 10px 0;
    letter-spacing: 0.5rem;
    color: $first-point-color;
  }
  h1 {
    margin: 10px 0;
    letter-spacing: 0.5rem;
    color: $purewhite;
  }
  &__usage {
    display: flex;
    padding: 50px 0;
  }
}

.usage {
  @include mx-flexbox(start);
  padding: 50px;
  width: 650px;
}
