.element-modify {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 10px;
  transform: translateY(-50%);
  &:hover {
    display: flex;
  }
  &__button {
    background-color: #c0c0c0;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 4px 10px;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  &__add,
  &__delete {
    margin: 0 0 5px;
  }
  button:disabled {
    cursor: default;
  }
}
