@import '../../../style.scss';

.drag {
  position: absolute;
  z-index: 99;
  &_outer {
    position: relative;
    @include mx-size(0, 100px, 100px);
  }
  &_inner {
    @include mx-flexbox(between);
    @include position-center();
    padding: 20px;
    font-size: 12px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px $transparent-80;
    cursor: pointer;
    p {
      text-align: center;
      width: 100%;
      margin: 0;
      word-break: keep-all;
      pointer-events: none;
    }
    &__button {
      @include mx-size(0, 15px, 15px);
    }
    &:hover .element-modify {
      display: flex;
    }
    &:hover {
      transform: translate(-50%, -50%) translateY(-2px);
      box-shadow: 0px 10px 20px 2px $transparent-40;
    }
  }
}
