@import '../../../style.scss';

.element-edit {
  @include mx-flexbox();
  @include position-center(fixed);
  @include mx-size(0, 100%, 100%);
  z-index: 99;
  background-color: $transparent-80;

  &__ul {
    background-color: $base-background;
    padding: 30px;
    border: 2px solid $purewhite;

    li {
      list-style: none;
    }
  }

  &__preview {
    @include mx-flexbox();
    @include mx-size('min', 300px, 300px);
    background-color: $base-background;
    border: 2px solid $purewhite;
    margin: 0 0 0 20px;
    padding: 20px;
    &__container {
      @include mx-flexbox();
      padding: 10px;
    }
    p {
      width: fit-content;
    }
    &__button {
      @include mx-size(0, 15px, 15px);
      border: 1px solid $purewhite;
      background-color: none;
      margin: 0 0 0 10px;
    }
  }

  &__flex {
    position: relative;
    @include mx-flexbox(start);
    padding-bottom: 30px;
    svg {
      @include mx-size(0, 15px, 15px);
      &:hover + .element-edit__hidden {
        display: block;
      }
    }
  }

  &__size {
    padding-bottom: 30px;
    &__temp {
      display: flex;
      input[type='checkbox'] {
        margin: 0 0 0 20px;
      }
    }
    &__temp:first-child {
      margin: 0 0 20px;
    }
  }

  &_inputNum {
    width: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid $purewhite;
    color: $purewhite;
    text-align: center;
    &:focus {
      outline: none;
    }
  }

  &__border {
    padding-bottom: 30px;
    &__container {
      @include mx-flexbox(start);
      margin: 10px 0;
      padding: 0 0 0 20px;
      p {
        margin: 0 10px 0 0;
      }
      input[type='radio'] {
        margin: 0 5px 0 0;
      }
      label {
        margin: 0 10px 0 0;
      }
      button {
        @include mx-size(0, 15px, 15px);
        margin: 0 20px 0 0;
      }
    }
  }

  &__out {
    @include mx-flexbox(between);
    padding: 0;
  }

  &__hidden {
    @include position-top-right(absolute, 150px, 0);
    display: none;
    width: max-content;
    background-color: $pureblack;
    border: 2px solid $purewhite;
    padding: 5px;
    border-radius: 15px;
  }

  &__reset {
    @include mx-size(0, 20px, 20px);
    svg {
      width: inherit;
      height: inherit;
    }
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='checkbox'] {
    margin: 0 20px;
  }
}

.buttonmargin {
  margin: 20px 0 0;
}
