@import '../../../style.scss';

.property-info {
  height: fit-content;
  padding: 20px 15px;
  p {
    margin: 0;
  }
  &__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      @include mx-flexbox(start);
      padding-bottom: 20px;
      list-style: none;
    }
  }
  &__inner {
    &::first-line {
      margin: 20 px 0;
    }
  }
  &__name {
    button {
      background: none;
      border: none;
    }
  }
  &__button {
    @include mx-size(0, 20px, 20px);
    background: none;
    border: 0;
  }
  &__input {
    width: 100px;
    margin-left: 20px;
    height: 1rem;
  }
  &__color {
    display: flex;
  }
  &__colorButton {
    @include mx-size(0, 15px, 15px);
    margin: 0 20px;
    border: 1px solid $purewhite;
  }
  &__svg {
    @include mx-size(0, 15px, 15px);
    fill: none;
  }
}
