@import '../../style.scss';

.menuStyle {
  @include mx-size(0, 60px, 60px);
  padding: 10px 0;
  box-sizing: border-box;
  border: 5px solid $first-point-color;
  border-radius: 20px;
  background-color: $base-background;
  color: $purewhite;
  font-size: 1rem;
  //margin: 0 0 1rem 1rem;
  button,
  label {
    display: block;
    @include mx-size(0, 30px, 30px);
    border: 0;
    margin: 0 auto;
    padding: 0;
  }
  svg {
    width: inherit;
    height: inherit;
    fill: $purewhite;
    cursor: pointer;
  }
  input[type='file'] {
    position: absolute;
    @include mx-size(0, 1px, 1px);
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &:hover {
    background-color: $purewhite;
    svg {
      fill: $pureblack;
    }
  }
}

.menuStyle2 {
  @include mx-flexbox();
  @include mx-size(0, 50px, 50px);
  border-radius: 5px;
  background-color: $base-background;
  color: $purewhite;
  font-size: 1rem;
  border: 1px solid $purewhite;
  //margin: 0 0 1rem 1rem;
  button,
  label {
    display: block;
    @include mx-size(0, 30px, 30px);
    border: 0;
    margin: 0 auto;
    padding: 0;
  }
  svg {
    width: inherit;
    height: inherit;
    fill: $purewhite;
    cursor: pointer;
  }
  input[type='file'] {
    position: absolute;
    @include mx-size(0, 1px, 1px);
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &:hover {
    background-color: $purewhite;
    svg {
      fill: $pureblack;
    }
  }
}
