.menuStyle {
  height: 60px;
  width: 60px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 5px solid #2fd883;
  border-radius: 20px;
  background-color: #00002d;
  color: white;
  font-size: 1rem;
  //margin: 0 0 1rem 1rem;
  float: right;
  button,
  label {
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0 auto;
    padding: 0;
  }
  svg {
    width: inherit;
    height: inherit;
    fill: #fff;
    cursor: pointer;
  }
  input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &:hover {
    background-color: #fff;
    border-color: #424242;
    svg {
      fill: #424242;
    }
  }
}

.menuStyle2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #00002d;
  color: white;
  font-size: 1rem;
  border: 1px solid #fff;
  //margin: 0 0 1rem 1rem;
  float: right;
  button,
  label {
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0 auto;
    padding: 0;
  }
  svg {
    width: inherit;
    height: inherit;
    fill: #fff;
    cursor: pointer;
  }
  input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &:hover {
    background-color: #fff;
    border-color: #424242;
    svg {
      fill: #424242;
    }
  }
}
