.property {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  z-index: 99;
}

.property-prop {
  width: 300px;
  height: min-content;
  padding: 15px;
  box-sizing: border-box;
  border: 5px solid #2fd883;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  margin: 0 0 1rem 1rem;
  background-color: #00002d;
  &__title {
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    button {
      border: 0;
      background: none;
      color: #b3b3b3;
      font-weight: 1000;
      svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
    }
    &:hover {
      color: #fff;
      button {
        color: #fff;
      }
    }
  }
  p {
    margin: 0;
  }
}

.property-next {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #00002d;
  z-index: 99;
  transition: all 1s;
  &_hide {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    width: 0;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    color: #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #00002d;
    z-index: 1;
    cursor: pointer;
  }
}

.p-button {
  border: 0;
  margin: 10px 0 0;
  float: right;
  svg {
    height: 30px;
    width: 30px;
    fill: #fff;
  }
}

.property-next-prop {
  color: white;
  font-size: 1rem;
  height: auto;
  min-height: 80px;
  margin-bottom: 20px;
  background-color: #00002d;
  //border-bottom: 1px solid #fff;
  transition: max-height 2s;
  overflow-y: hidden;
  &__res {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    &:hover {
      color: #fff;
      svg {
        filter: brightness(140%);
      }
    }
    cursor: default;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    padding: 30px 15px;
    p {
      font-size: 1.2rem;
    }
    button {
      border: 0;
      background: none;
      color: #b3b3b3;
      font-weight: 1000;
    }
    &:hover {
      button {
        color: #fff;
      }
    }
  }
  p {
    margin: 0;
  }
}

/* .property-list,
.property-edit,
.property-info {
  padding: 15px;
  box-sizing: border-box;
  border: 5px solid #fff;
  color: white;
  font-size: 1rem;
  margin: 1rem 0;
  background-color: #687655;
} */
