.property {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #0c3184;
  z-index: 99;
}

.property-list,
.property-edit,
.property-info {
  padding: 15px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 5px double #5190f4;
  color: white;
  font-size: 0.5rem;
  min-height: 300px;
}

.property-info {
  font-size: 0.8rem;
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    list-style: none;
  }
  &__inner {
    &::first-line {
      margin: 20 px 0;
    }
  }
  button {
    display: inline;
    width: 20px;
    margin: 0 20px;
    height: 1rem;
  }
  input {
    width: 100px;
    margin-left: 20px;
    height: 1rem;
  }
}
