@import '../../style.scss';

.child {
  position: absolute;
  @include mx-flexbox();
  @include mx-round(50%);
  border: 1px solid;
  @include mx-size(0, 70px, 70px);
  margin: 10px;
  background-color: #5e5e5e;
  z-index: 3;
  //user-select: none;
  &_input {
    width: inherit;
    background: none;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  &_setButton {
    position: absolute;
    @include mx-size(0, 20px, 20px);
    @include mx-round(50%);
    border: 1px solid;
    background-color: #c0c0c0;
  }
  &_text {
    user-select: none;
    margin: 0;
  }
}

.addButton {
  top: 0;
  right: 0;
}

.deleteButton {
  bottom: 0;
  right: 0;
}

.spanl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  border-bottom: 1px solid aqua;
  z-index: 0;
}
