.intropage {
  background: linear-gradient(160deg, #3535a0, #00002d 15%);
  &__contents {
    width: 1500px;
    margin: 0 auto;
    padding: 100px 0 0;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

// #00002d 배경 1
// #191a4e 배경 2
// #2fd883 포인트 1  //38b979
//
