.intropage {
  height: 10000px;
  background: linear-gradient(160deg, #3535a0, #00002d 15%);
  &__contents {
    width: 1500px;
    margin: 0 auto;
    padding: 100px;
  }
  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    &__container {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      height: 80px;
      width: 1500px;
      align-items: center;
      margin: 0 auto;
    }
    &__icon {
      display: flex;
      align-items: center;
      color: #fff;
      img {
        width: 60px;
        height: 60px;
      }
    }
    &__to {
      display: flex;
      button {
        background: none;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 60px;
        padding: 10px;
        cursor: pointer;
      }
      button:last-child {
        background-color: #2fd883;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
  &__intro {
    position: relative;
    display: flex;
    justify-content: baseline;
    height: 700px;
    overflow: hidden;
    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      color: #fff;
      margin-left: 100px;
      z-index: 10;
      h1 {
        font-size: 2.5rem;
        margin: 10px 0;
        letter-spacing: 0.5rem;
      }
      p {
        color: #2fd883;
        font-size: 1.5rem;
        margin: 10px 0;
        letter-spacing: 0.5rem;
        width: max-content;
      }
      div {
        button {
          padding: 10px;
          background-color: #2fd883;
          border: none;
          border-radius: 10px;
          color: #fff;
          font-weight: 700;
          font-size: 1.2rem;
          margin: 20px 50px 0 0;
          width: 200px;
          &:hover {
            filter: brightness(90%);
          }
        }
      }
    }
    &__img {
      position: absolute;
      right: 0;
      top: -5%;
      overflow: hidden;
      opacity: 0.7;
      /* img {
        width: 1000px;
        height: 600px;
      } */
    }
  }
  &__temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: #191a4e;
    &__project {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      color: #c0c0c0;
      font-size: 2rem;
      img {
        width: 80px;
        height: 80px;
      }
      p {
        margin-left: 20px;
      }
    }
  }
  &__use {
    padding: 50px 0;
    &__container {
      letter-spacing: 0.5rem;
      width: fit-content;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      h3 {
        color: #2fd883;
      }
      p {
        letter-spacing: normal;
        color: #c0c0c0;
      }
    }
    &__fwbox {
      display: flex;
      justify-content: space-between;
      margin: 50px 0;
    }
    &__usage {
      display: flex;
    }
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 450px;
      height: 450px;
      background-color: #191a4e;
      padding: 20px;
      word-break: keep-all;
      box-sizing: border-box;
      border-radius: 15px;
      p {
        color: #c0c0c0;
        margin: 5px;
        text-align: center;
        line-height: 1.5rem;
      }
    }
    &__update {
      padding: 50px 0;
    }
  }
  &__center {
    padding: 50px 0;
    &__container {
      display: flex;
      padding: 20px 40px;
      width: 100%;
      //background-color: #2fd883;
      background: linear-gradient(120deg, #168548, #2fd883);
      border-radius: 25px;
      img {
        border-radius: 25px;
      }
    }
  }
}

.use2 {
  position: relative;
  padding: 50px;
  border-radius: 15px;
  border: 1px solid #2fd883;
  width: fit-content;
}

.use1 {
  color: #fff;
  margin: 0 0 0 100px;
  h3 {
    color: #2fd883;
  }
  p {
    line-height: 1.5rem;
    color: #c0c0c0;
  }
  &__visual {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    button {
      height: 70px;
      width: 200px;
      border: 1px solid #fff;
      background-color: #191a4e;
      color: #fff;
      font-size: 1.1rem;
      &:hover {
        filter: brightness(140%);
      }
    }
  }
}

.circle {
  padding: 10px;
  width: fit-content;
  border-radius: 50%;
  background-color: #00002d;
  svg {
    width: 80px;
    height: 80px;
    fill: #2fd883;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

.usage {
  padding: 50px;
  &__container {
    border-radius: 15px;
    background-color: #191a4e;
    overflow: hidden;
    //box-shadow: 2px 2px 10px #3535a0;
    margin-bottom: 100px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
  }
  &__info-container {
    border-radius: 25px;
    background-color: #2fd883;
    width: 200px;
    padding: 20px;
  }
}

// #00002d 배경 1
// #191a4e 배경 2
// #2fd883 포인트 1  //38b979
//
