.property-list {
  overflow-y: scroll;
  color: #b3b3b3;
  max-height: 350px;
  padding: 20px 15px;
  &__element {
    width: fit-content;
    cursor: default;
    padding: 16px 0 0;
    &:hover {
      color: #fff;
    }
  }
}

.property-list::-webkit-scrollbar {
  //전체
  width: 10px;
  background-color: #00000000;
}

.property-list::-webkit-scrollbar-thumb {
  //범위 바
  width: 8px;
  background-color: #b3b3b3;
}

.property-list::-webkit-scrollbar-track {
  //범위 제외 바
  width: 8px;
  background-color: #00000000;
}

.listHover {
  transform: translate(-50%, -50%) translateY(-2px) scale(1.2);
  box-shadow: 0px 10px 20px 2px #00000040;
  filter: brightness(1.2);
}
