.property-list {
  overflow-y: scroll;
  color: #b3b3b3;
  &__element {
    width: fit-content;
    cursor: default;
    padding: 16px 0 0;
    &:hover {
      color: #fff;
    }
  }
}

.property-list::-webkit-scrollbar {
  //전체
  width: 10px;
  background-color: #00000000;
}

.property-list::-webkit-scrollbar-thumb {
  //범위 바
  width: 8px;
  background-color: #fff;
}

.property-list::-webkit-scrollbar-track {
  //범위 제외 바
  width: 8px;
  background-color: #00000000;
}
