body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

a {
  color: var(--black-white);
  font-family: 'Pretendard-Regular';
  font-weight: 500;
  text-decoration: none;
}

button {
  font-family: 'Pretendard-Regular';
  font-weight: 500;
  background: none;
  cursor: pointer;
}

p,
pre {
  font-family: 'Pretendard-Regular';
  font-weight: 600;
}

html[data-theme='light'] {
  --black-white: #{$black};
  --white-black: #{$white};
  --color-background: #{$backgroud};
  --color-element: #{#fff};
  --size0: 0;
}

html[data-theme='dark'] {
  --black-white: #{$white};
  --white-black: #{$black};
  --color-background: #323232;
  --color-element: #{#424242};
  --size0: 1;
}
